{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Protected</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/styles.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2>Protected Page</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed hic
        accusantium provident ex nobis beatae alias ad suscipit dolores iusto
        voluptatum vel quo, quod laborum soluta impedit dolorum aut qui!
      </p>
      <a href="{% url 'home' %}">Home</a>
    </div>
  </body>
</html>
