{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    {% comment %} 使用 {% static %} 模板标签来动态生成静态文件的
    URL。这里它用于引用位于 styles/ 目录下的 styles.css
    文件，用于为页面应用自定义样式。 {% endcomment %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/styles.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      {% comment %} 创建一个表单，使用 POST 方法提交表单数据。action="{% url
      'register' %}" 动态生成表单提交的 URL，指向名为 register 的 URL
      模式（Django 中定义的 URL 路径）。 {% endcomment %}
      <form method="POST" action="{% url 'register' %}">
        <p>{% csrf_token %} {{form.as_p}}</p>
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
